{% extends "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    {% for g in game %}
        <div id="era">
            Era: {{ g.era }}
        </div>
    {% endfor %}

    {% for user in users %}
        <div class="player">
            <div class="playername">
                Gracz: <a href="/admin">{{ user.resource.player.name }}</a>
            </div>

            <div class="resourceBlock">
                <div class="resourceTop">
                    Surowce
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: #ffcc00">
                            Megakredyty:
                        </span>
                    </div>
                    <div class="rpAmount mr-{{ user.resource.player.id }}">
                        {{ user.resource.megacredit }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: chocolate">
                            Żelazo:
                        </span>
                    </div>
                    <div class="rpAmount ir-{{ user.resource.player.id }}">
                        {{ user.resource.iron }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: #aaaaaa">
                            Tytan:
                        </span>
                    </div>
                    <div class="rpAmount tr-{{ user.resource.player.id }}">
                        {{ user.resource.titan }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: lawngreen">
                            Roślinność:
                        </span>
                    </div>
                    <div class="rpAmount pr-{{ user.resource.player.id }}">
                        {{ user.resource.plant }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: mediumpurple">
                            Energia:
                        </span>
                    </div>
                    <div class="rpAmount er-{{ user.resource.player.id }}">
                        {{ user.resource.energy }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: coral">
                            Ciepło:
                        </span>
                    </div>
                    <div class="rpAmount hr-{{ user.resource.player.id }}">
                        {{ user.resource.heat }}
                    </div>
                </div>
            </div>

            <div class="productionBlock">
                <div class="productionTop">
                    Produkcja
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: #ffcc00">
                            Megakredyty:
                        </span>
                    </div>
                    <div class="rpAmount mp-{{ user.resource.player.id }}">
                        {{ user.production.megacredit }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: chocolate">
                            Żelazo:
                        </span>
                    </div>
                    <div class="rpAmount ip-{{ user.resource.player.id }}">
                        {{ user.production.iron }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: #aaaaaa">
                            Tytan:
                        </span>
                    </div>
                    <div class="rpAmount tp-{{ user.resource.player.id }}">
                        {{ user.production.titan }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: lawngreen">
                            Roślinność:
                        </span>
                    </div>
                    <div class="rpAmount pp-{{ user.resource.player.id }}">
                        {{ user.production.plant }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: mediumpurple">
                            Energia:
                        </span>
                    </div>
                    <div class="rpAmount ep-{{ user.resource.player.id }}">
                        {{ user.production.energy }}
                    </div>
                </div>
                <div>
                    <div class="rpName">
                        <span style="background-color: coral">
                            Ciepło:
                        </span>
                    </div>
                    <div class="rpAmount hp-{{ user.resource.player.id }}">
                        {{ user.production.heat }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="messageBlock">
        {% for message in messages %}
            <div class="message">
                {{ message.text }}
            </div>
        {% endfor %}
    </div>

    <div id="prototype" style="display: none;">
        <div class="message">
        </div>
    </div>

{% endblock %}

{% block java %}
    <script>
        var id = 0;
        $(document).ready(function() {
            getData();
        });

        function getData() {
            $.ajax({
                url: "{{ path('game_data') }}",
                cache: false,
                timeout:50000,
                type: "post",
                dataType: 'json',
                data: { "id": id }
            })
            .done(function(response) {
                id = response.id;
                $.each(response.messages, function(index, val) {
                    var message = $('#prototype').html();
                    message = $(message).text(
                        '' + response.messages[index].text + ''
                    );
                    $('div.messageBlock').prepend(message);
                });
                $.each(response.users, function(index, val) {
                    $('div.rpAmount.mr-' + response.users[index].id).text(response.users[index].mr);
                    $('div.rpAmount.ir-' + response.users[index].id).text(response.users[index].ir);
                    $('div.rpAmount.tr-' + response.users[index].id).text(response.users[index].tr);
                    $('div.rpAmount.pr-' + response.users[index].id).text(response.users[index].pr);
                    $('div.rpAmount.er-' + response.users[index].id).text(response.users[index].er);
                    $('div.rpAmount.hr-' + response.users[index].id).text(response.users[index].hr);
                    $('div.rpAmount.mp-' + response.users[index].id).text(response.users[index].mp);
                    $('div.rpAmount.ip-' + response.users[index].id).text(response.users[index].ip);
                    $('div.rpAmount.tp-' + response.users[index].id).text(response.users[index].tp);
                    $('div.rpAmount.pp-' + response.users[index].id).text(response.users[index].pp);
                    $('div.rpAmount.ep-' + response.users[index].id).text(response.users[index].ep);
                    $('div.rpAmount.hp-' + response.users[index].id).text(response.users[index].hp);
                });
                $.each(response.games, function(index, val){
                    $('div#era').text('Era: ' + response.games[index].era);
                });

                getData();
            });
        }
    </script>
{% endblock %}